{{ define "satnaIndex" }}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
</head>
<body>

<div id="box">
	<h1>Šatna</h1>
	{{ if .Message }}
		<p class="text-{{ .MessageType }}">{{ .Message }}</p>
	{{ end }}
	<form method='post'>
		<input type='password' name='password' autocomplete='off' autofocus>
		<input type='submit' value='Vstoupit'>
	</form>
</div>

</body>
</html>
{{end}}