{{ define "satnaInternal" }}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
</head>
<body>

<div id="box">
	<h1>Šatna</h1>
	<p class="text-success">Heslo je vyhovující! Vstup do šatny je povolen.</p>
	<p class="text-success">Venku v kůlně se nachází svačina.</p>
</div>

</body>
</html>
{{end}}