@charset "UTF-8";
@font-face {
	font-family: "TengwarTelcontar";
	src: url("tengtelcOTL.woff2") format('woff2');
}

body {
	background: url("tiles.webp");
	font: 18pt Times;
	line-height: 1.25;
	font-family: "TengwarTelcontar";
}

div.skript {
	position: relative;
	background-image: url('skript.webp');
	width: 690px;
	padding: 40px;
	padding-top: 0px;
	margin: 0px auto;

	margin-top: 200px;
	text-align: center;
}
div.skript + div.skript {
	margin-top: 300px;
}

div.skript::before {
	position: absolute;
	top: -181px;
	left: 0px;
	content: url(skript_top.webp);
}

div.skript::after {
	position: absolute;
	bottom: -120px;
	left: 0px;
	content: url(skript_bottom.webp);
}

div.skript .basen {
	white-space: pre-wrap;
}

div.skript form {
	display: block;
	text-align: right;
}
div.skript form input {
	margin: 10px 5px;
}

div.skript form button {
	font-family: "TengwarTelcontar";
	font-size: 130%;
	margin: 0px auto;
	margin-top: 30px;
	padding: 10px 20px;
	display: block;
}


#messageBox.alert-danger {
	color: red;
	border: 1px red solid;
}

#messageBox button {
	display: none;
}

.green {
	color: green;
}
