{{ define "part_header" -}}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/global-static/bootstrap.min.css">
	<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
	<link rel="preload" href="/global-static/NotoMusic-Regular.ttf" as="font" type="font/ttf" crossorigin>
	<link rel='stylesheet' type='text/css' href='/global-static/global.css'>
</head>
<body>
{{- end }}


{{ define "part_orgHeader" -}}
<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/global-static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/org.css">
</head>
<body>
<header>
	<nav id="main-menu" class="container">
		<h1><small>Hackventura</small> {{ .Title }}</h1>
		<a href="./">Výsledky</a>
		<a href="teams">Týmy</a>
		<a href="settings">Nastavení</a>
	</nav>
</header>

{{ template "part_messageBox" . }}
{{- end }}
